[Unit]
Description=Finbot interactive chat bot

[Service]
Type=simple
User=CHANGEME
ExecStart=/home/CHANGEME/finbot/bot.py
Restart=on-failure
RestartSec=30s

[Install]
WantedBy=multi-user.target
